{% extends 'base.html' %}

{% block titulo %} Home {% endblock %}

{% block contenido %}
    <div class="container">
        <div class="col-12" style="margin-top:5em;">
            <br>
            <img src="https://static.wikia.nocookie.net/lolesports_gamepedia_en/images/2/26/Mid-Season_Invitational_2022.png/revision/latest?cb=20220330002015" width="100%" alt="logo_invitacional-2022">
        </div>
        <br><br>
        
        <div class="d-grid gap-2">
            <a href="https://lolesports.com/en_US/" class="btn btn-outline-secondary" type="button" target="_blank">Ver mas partidas</a>
          </div>
        <br><br>
    </div>
{% endblock  %}
        
