{% extends 'base.html' %}

{% block titulo %} Home {% endblock %}

{% block contenido %}
    <div class="container-fluid">
        <div class="col-12">
            <br>
            <img src="./static/img/back_home.png" width="100%" alt="logo_invitacional-2022">
        </div>
        <br><br>
        
        <div class="d-grid gap-2">
            <a href="https://lolesports.com/schedule?leagues=" class="btn btn-outline-secondary" type="button" target="_blank">Ver mas partidas</a>
          </div>
        <br><br>
        
    </div>
    
    
{% endblock  %}
        
