{% extends 'base.html' %}

{% block titulo %} News {% endblock %}

{% block contenido %}


<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=BZ22D5iFKU0&" target="_blank">
                <img src="./static/img/equipos/akvsta.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/allk.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">All Knights</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/teamAze.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Team Aze</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>All Knights vs Team Aze - #LLA Clausura 2022 - Semana 5 Día 1</h4>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=Y1sRIJuLJeY" target="_blank">
                <img src="./static/img/equipos/xevsr7.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/xten.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">XTEN Esports</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/rainbow7.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Rainbow7</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>XTEN Esports vs Rainbow7 - #LLA Clausura 2022 -  Semana 5 Día 1</h4>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=btarcfuRN8s" target="_blank">
                <img src="./static/img/equipos/gevsi.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/gEsmerald.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">Globant Emerald</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/isurus.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Isurus</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Globant Emerald Team vs Isurus - #LLA Clausura 2022 -  Semana 5 Día 1</h4>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=jg_XHK1Cul0" target="_blank">
                <img src="./static/img/equipos/ivse.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/infinity.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">INFINITY</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/estral.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Estral Esports</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>INFINITY vs Estral Esports - #LLA Clausura 2022 -  Semana 5 Día 1</h4>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=7cakAJHsOx4" target="_blank">
                <img src="./static/img/equipos/evsxt.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/estral.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">Estral Esports</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/xten.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">XTEN Esports</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Estral Esports vs XTEN Esports - #LLA Clausura 2022 -  Semana 5 Día 2</h4>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=K0wEPVV4v7A" target="_blank">
                <img src="./static/img/equipos/r7vsge.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/rainbow7.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">Rainbow7</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/gEsmerald.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Globant Emerald Team</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Rainbow7 vs Globant Emerald Team - #LLA Clausura 2022 -  Semana 5 Día 2</h4>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=98KXfSyBXms" target="_blank">
                <img src="./static/img/equipos/tavsi.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/teamAze.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">Team Aze</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/infinity.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">INFINITY</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Team Aze vs INFINITY - #LLA Clausura 2022 -  Semana 5 Día 2</h4>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=SEfSpm17r5k" target="_blank">
                <img src="./static/img/equipos/ivsak.jpg" class="card-img-top" alt="img_partida">
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/isurus.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">

                                                <h5 class="card-title">Isurus</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row g-0">
                                        <div class="col-md-4" style="background-color:black;">
                                            <img src="./static/img/equipos/allk.png" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">All Knights</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Isurus vs All Knights - #LLA Clausura 2022 -  Semana 5 Día 2</h4>
                
            </div>
        </div>
    </div>
</div>
{% endblock  %}